{% for ble_device in ble_devices %}
<tr>
  <td>{{ loop.index }}</td>
  <td>{{ ble_device['mac_address'] }}</td>
  <td>{{ ble_device['alias'] }}</td>
  {% if '0' in ble_device['state'] %}
    <td class="text-center"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></td>
  {% elif '1' in ble_device['state'] %}
    <td class="text-center"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></td>
  {% else %}
    <td class="text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
  {% endif %}
</tr>
{% endfor %}

{% if ble_devices|length == 0 %}
<tr>
  <td>None</td>
  <td>None</td>
  <td>None</td>
  <td>None</td>
</tr>
{% endif %}
