<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>BLE Control Panel</title>
      <!-- Bootstrap Core CSS -->
      <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- MetisMenu CSS -->
      <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="panel panel-green">
        <div class="panel-heading">
            Livolo BLE Node
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#system" data-toggle="tab" aria-expanded="true">System</a>
              </li>
              <li class=""><a href="#ble" data-toggle="tab" aria-expanded="false">BLE</a>
              </li>
              <li class=""><a href="#mqtt" data-toggle="tab" aria-expanded="false">MQTT</a>
              </li>
              <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="system">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    System Status
                  </div>

                  <div class="panel-body">
                    <div id="system_stats"></div>
                    <div class="row">
                      <div class="col-xs-8"></div>
                      <button type="button" class="btn btn-success" id = "system_stats_refresh">Refresh</button>
                    </div>
                  </div>
                </div>
              </div>
               <div class="tab-pane" id="ble">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        BLE Devices
                    </div>
                     <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                           <table class="table table-striped table-bordered table-hover">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>MAC Address</th>
                                    <th>Status</th>
                                    <!--th>Last Seen</th-->
                                 </tr>
                              </thead>
                              <tbody id="ble_dev_list">
                                <tr>
                                  <td>None</td>
                                  <td>None</td>
                                  <td>None</td>
                                </tr>
                              </tbody>
                           </table>
                        </div>
                        <!-- /.table-responsive -->
                        <div class="row">
                          <div class="col-xs-8"></div>
                          <button type="button" class="btn btn-success" id = "ble_refresh">Refresh</button>
                        </div>
                    </div>
                     <!-- /.panel-body -->
                  </div>
               </div>
               <div class="tab-pane" id="mqtt">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                       MQTT Brokers
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                       <div class="table-responsive">
                          <table class="table table-striped table-bordered table-hover">
                             <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Address</th>
                                  <th>Port</th>
                                  <th>Status</th>
                                  <!--th>Last Seen</th-->
                                </tr>
                             </thead>
                             <tbody id="mqtt_broker_list">
                               <tr>
                                 <td>None</td>
                                 <td>None</td>
                                 <td>None</td>
                                 <td>None</td>
                               </tr>
                             </tbody>
                          </table>
                      </div>
                      <!-- /.table-responsive -->
                      <div class="row">
                        <div class="col-xs-8">
                        </div>
                        <button type="button" class="btn btn-success" id = "mqtt_refresh">Refresh</button>
                      </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
              </div>
              <div class="tab-pane" id="settings">
                  <h4>Settings</h4>
                  <p>...</p>
              </div>
            </div>
        </div>
         <!-- /.panel-body -->
      </div>
      <!-- /#wrapper -->
      <!-- jQuery -->
      <script src="/static/vendor/jquery/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Metis Menu Plugin JavaScript -->
      <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="/static/dist/js/sb-admin-2.js"></script>
      <!-- Sijax -->
      <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
      <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
      </script>

      <script>
        function do_sijax(req) {
          Sijax.request(req, [], { error: function(jqXHR, textStatus, errorThrown) {
            alert("Ajax call failed! Maybe your connection or the server is offline?");
            //console.log(errorThrown);
          }});
        }
        $(document).ready(function(){
          // load data for the active tab
          do_sijax('get_system_stats');

          // --------------- System stats ------------------
          $('.nav-tabs a[href="#system"]').click(function(){
            do_sijax('get_system_stats');
          });

          $('#system_stats_refresh').on('click', function (ev) {
            do_sijax('get_system_stats');
          });
          // ----------------------------------------------

          // --------------- BLE -------------------------
          $('.nav-tabs a[href="#ble"]').click(function(){
            do_sijax('ble_devices_list_update');
          });

          $('#ble_refresh').on('click', function (ev) {
            do_sijax('ble_devices_list_update');
          });
          // ----------------------------------------------
          // -------------------- MQTT --------------------
          $('.nav-tabs a[href="#mqtt"]').click(function(){
            do_sijax('mqtt_broker_list_update');
          });

          $('#mqtt_refresh').on('click', function (ev) {
            do_sijax('mqtt_broker_list_update');
          });
          // ----------------------------------------------
        });
      </script>
   </body>
</html>
