<div class="row-xs-1">
  <span class="label label-default">CPU Usage {{ system_stats['cpu_usage_percent'] }}%</span>
</div>
<br/>
<div class="progress">
  <div class="progress-bar {{ 'progress-bar-success' if system_stats['cpu_usage_percent'] <= 75.0 else 'progress-bar-warning' }}"
    role="progressbar"
    aria-valuenow="{{ system_stats['cpu_usage_percent'] }}"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width:{{ system_stats['cpu_usage_percent'] }}%">
  </div>
</div>

<div class="row-xs-1">
  <span class="label label-default">Virtual Memory Usage {{ system_stats['memory_usage_percent'] }}%</span>
</div>
<br/>
<div class="progress">
  <div class="progress-bar {{ 'progress-bar-success' if system_stats['memory_usage_percent'] <= 75.0 else 'progress-bar-warning' }}"
    role="progressbar"
    aria-valuenow="{{ system_stats['memory_usage_percent'] }}"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width:{{ system_stats['memory_usage_percent'] }}%">
  </div>
</div>

<div class="row-xs-1">
  <span class="label label-default">Disk Usage {{ system_stats['disk_usage_percent'] }}%</span>
</div>
<br/>
<div class="progress">
  <div class="progress-bar {{ 'progress-bar-success' if system_stats['disk_usage_percent'] <= 75.0 else 'progress-bar-warning' }}"
    role="progressbar"
    aria-valuenow="{{ system_stats['disk_usage_percent'] }}"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width:{{ system_stats['disk_usage_percent'] }}%">
  </div>
</div>

<div class="table-responsive">
   <table class="table">
      <tbody>
        <tr>
          <td><strong>System</strong></td><td><strong>{{ system_stats['system'] }}</strong></td>
        </tr>
        <tr>
          <td><strong>Architecture</strong></td><td><strong>{{ system_stats['machine_arch'] }}</strong></td>
        </tr>
        <tr>
          <td><strong>Kernel</strong></td><td><strong>{{ system_stats['release'] }}</strong></td>
        </tr>
        <tr>
          <td><strong>Uptime</strong></td><td><strong>{{ system_stats['uptime'] }}</strong></td>
        </tr>
      </tbody>
   </table>
</div>
