[Unit]
Description=Livolo BLE Web Config Panel
After=networking.target

[Service]
User=pi
Restart=on-failure
WorkingDirectory=/home/pi/livolo/webconfig_panel/
ExecStart=/usr/bin/sudo /home/pi/livolo/webconfig_panel/webconfig_panel.py --config /home/pi/livolo/configs/mys_ble.conf --log syslog

[Install]
WantedBy=multi-user.target
