CONFIG_ARM=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_CIAA=y
CONFIG_BOARD_HOLYIOT_17095=y

# Enable MPU
CONFIG_ARM_MPU=y

# clock source
# holyiot_17095 module seems more stable if using the RC oscillator
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y

# enable GPIO
CONFIG_GPIO=y

# reset pin behavior
CONFIG_GPIO_AS_PINRESET=n

# bluetooth
CONFIG_BT=y
CONFIG_BT_CTLR=y
CONFIG_BT_CTLR_TX_PWR_PLUS_4=y

# enable PWM
CONFIG_PWM=y
