[Unit]
Description=Livolo BLE Central Node
After=network.target,bluetooth.target

[Service]
User=pi
#Restart=on-failure
WorkingDirectory=/home/pi/livolo/
ExecStart=/usr/bin/sudo /home/pi/livolo/livolo_ble.py /home/pi/livolo/configs/mys_ble.conf

[Install]
WantedBy=multi-user.target
