[Unit]
Description=Livolo BLE Central Node
After=network.target,bluetooth.target

[Service]
User=alarm
#Restart=on-failure
WorkingDirectory=/home/alarm/livolo/
ExecStart=/usr/bin/sudo /home/alarm/livolo/livolo_ble.py /home/alarm/livolo/configs/livolo_ble.conf

[Install]
WantedBy=multi-user.target
