# Kconfig - Holyiot YJ-16019 board configuration
#
# Copyright (c) 2019 Henrik Brix Andersen <henrik@brixandersen.dk>
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_TT_NRF52

config BOARD
	default "tt_nrf52"

config BT_CTLR
  default BT

endif # BOARD_TT_NRF52
