# Kconfig - Holyiot YJ-16019 board configuration
#
# Copyright (c) 2019 Henrik Brix Andersen <henrik@brixandersen.dk>
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_TT_NRF52
	bool "TT NRF52"
	depends on SOC_NRF52832_QFAA
