CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAA=y
CONFIG_BOARD_TS_NRF52=y

# Enable MPU
CONFIG_ARM_MPU=y

# clock source
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y

# enable GPIO
CONFIG_GPIO=y

# reset pin behavior
CONFIG_GPIO_AS_PINRESET=n

# bluetooth
CONFIG_BT=y
CONFIG_BT_CTLR=y
CONFIG_BT_CTLR_TX_PWR_PLUS_4=y
